<div class="gestionProd">
  <div class="choix">
    <button (click)="this.makeSearch = true; this.addProduct = false">
      <span>Rechercher un produit</span>
    </button>
    <button (click)="this.makeSearch = false; this.addProduct = true">
      <span>Ajouter un produit</span>
    </button>
  </div>
  <div *ngIf="this.makeSearch" class="search">
    <input class="input" type="search" name="search" id="search" />
    <button (click)="searchProduct()"><span>Rechercher</span></button>
    <div class="resultSearch">
      <ul>
        <li *ngFor="let item of this.listProduct">
          {{ item.title }}<span class="material-symbols-outlined"> close </span>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="this.addProduct" class="formAddProduct">
    <form [formGroup]="addProductForm" (submit)="submitForm()">
      <div class="formInfos">
        <label for="title">Titre</label>
        <input
          formControlName="title"
          class="input"
          type="text"
          name="title"
          id="title"
        />
      </div>
      <div class="formInfos">
        <label for="brand">Marque</label>
        <input
          formControlName="brand"
          class="input"
          type="text"
          name="brand"
          id="brand"
        />
      </div>
      <div class="formInfos">
        <label for="price">Prix</label>
        <input
          formControlName="price"
          class="input"
          type="number"
          name="price"
          id="price"
        />
      </div>
      <div class="formInfos">
        <label for="description">Description</label>
        <input
          formControlName="description"
          class="input"
          type="text"
          name="description"
          id="description"
        />
      </div>
      <div class="formInfos">
        <label for="ImageURL">ImageURL</label>
        <input
          formControlName="imageurl"
          class="input"
          type="text"
          name="ImageURL"
          id="ImageURL"
        />
      </div>
      <button type="submit"><span>Valider</span></button>
    </form>
  </div>
</div>
