<div class="formContainer">
  <form [formGroup]="loginForm" (submit)="submit()">
    <div class="form-group">
      <label class="label" for="email">Email</label>
      <input
        type="email"
        class="form-control input"
        id="email"
        formControlName="email"
        onclick="event.target.className+=' focused'"
        pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+.[a-zA-Z.]{2,15}"
      />
    </div>
    <div class="form-group">
      <label class="label" for="password">Password</label>
      <input
        type="password"
        class="form-control input"
        id="password"
        onclick="event.target.className+=' focused'"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-primary"><span>Submit</span></button>
  </form>
</div>
