.cart {
  background-color: var(--light-grey512);
  width: 70vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 1em;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.cart ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
}
li {
  display: flex;
  justify-content: space-around;
  background-color: var(--grey512);
  align-items: center;
  width: 50%;
  height: 10vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.quantityProductCart {
  width: 2vw;
  text-align: center;
  border: none;
  height: 50%;
  background-color: var(--dark-grey512);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.material-symbols-outlined {
  cursor: pointer;
}
