.cart {
  background-color: var(--light-grey512);
  width: 70vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 1em;
  border-radius: 30px;
}
.cart ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
  margin-bottom: 5vh;
}
li {
  display: flex;
  justify-content: space-around;
  background-color: var(--grey512);
  align-items: center;
  width: 50%;
  height: 10vh;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.quantityProductCart {
  width: 2vw;
  text-align: center;
  border: none;
  height: 50%;
  background-color: var(--dark-grey512);
  padding: 0.2em 0.4em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.material-symbols-outlined {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.material-symbols-outlined:hover {
  background-color: var(--dark-grey512);
}

#total {
  margin: 0 0 0 50vw;
  width: 18vw;
  margin-bottom: 1vh;
}

#commandButton {
  margin: 0 0 0 50vw;
  width: 18vw;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* margin-left: 20%; */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  border: none;
  font-weight: bold;
}
