<header>
  <div class="headerDivFlex">
    <img routerLink="/" src="../assets/512.png" alt="512Bank" />
    <div>Produits</div>
    <div>Panier</div>
    <div class="logReg">
      <div
        class="accountGestion"
        id="login"
        *ngIf="!this.loginService.isLoggedIn()"
        routerLink="/login"
      >
        Connexion
      </div>

      <div
        class="accountGestion"
        id="register"
        *ngIf="!this.loginService.isLoggedIn()"
        routerLink="/register"
      >
        Inscription
      </div>
    </div>
    <div
      class="accountGestion"
      id="account"
      *ngIf="this.loginService.isLoggedIn()"
      routerLink="/account"
    >
      Votre Compte
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
