<div class="bigContainer">
  <div class="productContainer">
    <img src="{{ product.imageURL }}" alt="a" />
    <div class="textProduct">
      <div class="upperPart">
        <div class="productTitle">{{ product.title }}</div>
        <div>Stars</div>
      </div>
      <div class="productBrand">{{ product.brand }}</div>
      <div class="productDesc">{{ product.descriptionProduct }}</div>
    </div>
  </div>
  <div class="priceContainer">
    <div class="productPrice">{{ product.publicPrice }} €</div>
    <div class="addToCart">Ajouter au panier</div>
  </div>
</div>
