<div class="bigContainer">
  <div id="mainContainer">
    <img src="{{ this.targetBrand.imageURL }}" />
    <div id="textContent">
      <div id="brandName">
        {{ this.targetBrand.title }}
      </div>
      <div id="brandDescription">
        {{ this.targetBrand.description }}
      </div>
      <div id="brandLink">
        <a href="{{ this.targetBrand.link }}" target="_blank"
          >Se rendre sur le site web de {{ this.targetBrand.title }}</a
        >
      </div>
    </div>
  </div>
</div>
