<div class="containerAll">
  <div class="mainContainer">
    <div class="productDiv" *ngFor="let product of this.listProducts">
      <img
        class="productImg"
        src="{{ product.imageURL }}"
        alt="{{ product.title }}"
      />
      <div class="productInfos">
        <div class="groupPriceTitle">
          <div class="productTitle">{{ product.title }}</div>
          <div class="productPrice">{{ product.publicPrice }} €</div>
        </div>
        <div
          class="productBrand"
          routerLink="/brand"
          [queryParams]="{ brand: product.brand }"
        >
          {{ product.brand }}
        </div>
        <div class="starsContainer">
          <div
            *ngFor="let item of this.getArrayFromNumber(product.note)"
            class="stars"
          >
            <img class="star" src="../../assets/star.png" alt="star" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
